.ng-select{
    width: 100%;
    direction: rtl;
    text-align: center;
    font-size: 15px;

}
p{
font-size: 18px;
color: gray;
}
div{
    width: 15%;
    position: absolute;
    top: 30%;
    left: 40%;
}
.target{
    position: absolute;
    top: 40%;
    left: 40%;
}
button{
    position: absolute;
    top: 51%;
    left: 40%;
    width: 15%;
    font-size: 18PX;
    height: 40PX;
    border-radius: 10PX;
    color: white;
    background-color:red;
}
app-show-distance{
    z-index: 0;
}