<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >

  <h1>   
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13565.790972919685!2d35.20711438022461!3d31.78554524999999!3m2!1i1024!2i768!4f13.1!5e0!3m2!1siw!2sil!4v1558937716541!5m2!1siw!2sil" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<app-distance-between-cities></app-distance-between-cities>
<!-- <app-show-distance></app-show-distance> -->
  </h1>
</div>


